.inviteList{
    display: flex;
    .invitee{
        border-radius: 8px;
        padding: 4px;
        font-size: 12px;
        margin: 4px;
        background-color: lightseagreen;
        .remove-invitee-button{
            border-radius: 50%;
            font-size: 8px;
        }
    }
}